#img-bg{
    background-image: url('https://images.prismic.io/portal-de-planos/debf6bfc-65be-434b-917a-7808e3db94a6_mulher-com-celular-na-m%C3%A3o-pensando.jpg');

    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}